 @charset "UTF-8";
/* CSS Document */

body	{
	color:#6b6b6b;
	font-size:18px;
}

@font-face {
    font-family: HelveticaNeueRegular;
	src:url("../fonts/helveticaneue_regular.eot");
	src:url("../fonts/helveticaneue_regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneue_regular.woff") format("woff"),
		url("../fonts/helveticaneue_regular.ttf") format("truetype"),
		url("../fonts/helveticaneue_regular.svg") format("svg");
    font-weight:normal;
	font-style:normal;
}


@font-face {
    font-family: HelveticaNeueRegular;
	src:url("../fonts/helveticaneue_regular.eot");
	src:url("../fonts/helveticaneue_regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneue_regular.woff") format("woff"),
		url("../fonts/helveticaneue_regular.ttf") format("truetype"),
		url("../fonts/helveticaneue_regular.svg") format("svg");
    font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: HelveticaNeueLTStdBD;
	src:url("../fonts/helveticaneueltstd_bd.eot");
	src:url("../fonts/helveticaneueltstd_bd.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltstd_bd.woff") format("woff"),
		url("../fonts/helveticaneueltstd_bd.ttf") format("truetype"),
		url("../fonts/helveticaneueltstd_bd.svg") format("svg");
    font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: HelveticaNeueLTStdRoman;
	src:url("../fonts/helveticaneueltstd_roman.eot");
	src:url("../fonts/helveticaneueltstd_roman.eot?#iefix") format("embedded-opentype"),
		url("../fonts/helveticaneueltstd_roman.woff") format("woff"),
		url("../fonts/helveticaneueltstd_roman.ttf") format("truetype"),
		url("../fonts/helveticaneueltstd_roman.svg") format("svg");
    font-weight:normal;
	font-style:normal;
}

@font-face {
  font-family: ExpediaSansBold;
  src: url("../fonts/ExpediaSans-Bold.eot");
  src: url("../fonts/ExpediaSans-Bold.eot") format("embedded-opentype"), url("../fonts/ExpediaSans-Bold.woff") format("woff"), url("../fonts/ExpediaSans-Bold.ttf") format("truetype"), url("../fonts/ExpediaSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ExpediaSansMedium;
  src: url("../fonts/ExpediaSans-Medium.eot");
  src: url("../fonts/ExpediaSans-Medium.eot") format("embedded-opentype"), url("../fonts/ExpediaSans-Medium.woff") format("woff"), url("../fonts/ExpediaSans-Medium.ttf") format("truetype"), url("../fonts/ExpediaSans-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ExpediaSansRegular;
  src: url("../fonts/ExpediaSans-Regular.eot");
  src: url("../fonts/ExpediaSans-Regular.eot") format("embedded-opentype"), url("../fonts/ExpediaSans-Regular.woff") format("woff"), url("../fonts/ExpediaSans-Regular.ttf") format("truetype"), url("../fonts/ExpediaSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ExpediaSansLightItalic;
  src: url("../fonts/ExpediaSans-LightItalic.eot");
  src: url("../fonts/ExpediaSans-LightItalic.eot") format("embedded-opentype"), url("../fonts/ExpediaSans-LightItalic.woff") format("woff"), url("../fonts/ExpediaSans-LightItalic.ttf") format("truetype"), url("../fonts/ExpediaSans-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ExpediaSansLight;
  src: url("../fonts/ExpediaSans-Light.eot");
  src: url("../fonts/ExpediaSans-Light.eot") format("embedded-opentype"), url("../fonts/ExpediaSans-Light.woff") format("woff"), url("../fonts/ExpediaSans-Light.ttf") format("truetype"), url("../fonts/ExpediaSans-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: ExpediaSansRegular;
  src: url("../fonts/ExpediaSans-Regular.eot");
  src: url("../fonts/ExpediaSans-Regular.eot") format("embedded-opentype"), url("../fonts/ExpediaSans-Regular.woff") format("woff"), url("../fonts/ExpediaSans-Regular.ttf") format("truetype"), url("../fonts/ExpediaSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

#wrapper	{
	padding: 0;
    width: 100%;
	font-family:"HelveticaNeueRegular", Arial, "Lucida Grande", sans-serif;
	margin:0 auto;
	min-width:995px;
}

#wrapper h2	{
	color:#00355f;
	margin:0 0 10px;
	font-weight:normal;
	font-family:"HelveticaNeueRegular", Arial, "Lucida Grande", sans-serif;
}

#wrapper a:link {
	color:#0068c4;
	text-decoration:none;
}

#wrapper a:hover {
	color:#0068c4;
	text-decoration:underline;
}

#wrapper	img {
	max-width: 100%;
	height: auto;
}

#wrapper header	{
	float: left;
    padding: 0;
    width: 100%;
	border-bottom:1px solid #cccccc;
	background:url(../img/header_bg_full.jpg) repeat-x top right;
	min-width:1036px;
	
}

#wrapper .header	{
    padding: 0 2%;
    width: 96%;
	margin:20px auto 0;
	min-height:680px;
	max-width:1088px;
	background:url(../img/header_bg.jpg) no-repeat top right;
	min-width:995px;

}

#wrapper .header h1{
	margin:0 0 35px;
}

#wrapper .header p {
    font-family: "HelveticaNeueRegular",Arial,"Lucida Grande",sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 15px;
    width: 420px;
}

#wrapper .header p span.requiredtext	{
	font-size:12px;
}
#wrapper #formstack_form {
  /* float:left; */
}

.contentarea_wrapper	{
	width:100%;
	border-bottom: 2px solid #CCCCCC;
}

#wrapper .contentarea	{
	clear: both;
	max-width:1108px;
	margin:0 auto;
	min-width:200px;
	padding: 10px 2% 30px;
    width: 96%;
}

#wrapper .contentarea	h1{
	margin:20px 0 15px;
}

#wrapper .contentarea p {
    line-height: 24px;
    width: 90%;
}

#wrapper .contentarea ul	{
	width:100%;
	list-style:none;
	margin:20px 0 40px;
	float:left;
}

#wrapper .contentarea ul li	{
	float:left;
	padding:0 2% 0 0;
	width:31%;
}


.form_frame	{
	min-height: 435px;
	width:400px;
}

.short	{
	min-height: 120px;
	width:400px;
}

.thankyou_frame	{
	height:260px;
	width:400px;
}

.overlay	{
	width:524px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:#FFF;
	padding:20px 45px;
	float:left;
	display:none;
}

.overlay	img{
	max-width:100%;
}

.overlay	div.leftcol{
	float:left;
	width:195px;
}

.overlay div.rightcol {
    float: left;
    line-height: 24px;
    width: 320px;
	padding:25px 0 0 0;
}

.overlay div.rightcol p{
	padding:20px 0 0;
}

.overlay	ul{
	clear:both;
	padding:10px 0 0 0;
}

.overlay	ul li{
	float:left;
	list-style:none;
}

.overlaylogo01	{
	padding:0 55px 0 0;
}

.overlaylogo02	{
	padding:0 55px 0 0;
}

.overlaylogo03	{
}

.disclaimer	{
	font-size:10px;
	margin:40px 0 0 0;
	clear:both;
}

.thankyou_message	{
	font-family: "HelveticaNeueRegular",Arial,"Lucida Grande",sans-serif;
	font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
}

/*@media all and (min-width: 320px) and (max-width: 875px)   {
#wrapper .header {
    background: none;
}
}*/

#stopper	{
	min-width:995px
}

.terms_link	{
	/* position:relative;
	z-index:9999;
	margin:-50px 0 20px; */
	color:#F00;
	font-size:12px;
	cursor:pointer;
	margin:0 0 10px 0;
}

.well {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E5E5E5;
    border-color: #C7C7C7;
    border-image: none;
    border-radius: 0.235294em;
    border-style: solid;
    border-width: 1px 0 0;
	width:1088px;
	float:left;
	margin:0 0 30px;
}
.box-secondary {
    padding: 1.05882em;
}

.box p {
    font-size: 13px !important;
}

.toggle-inner-new	p	{
	width:1000px !important;
}

.termscontent	{
	display:none;
}

.desktopheigt	{
	min-height:410px;
}

#wrapper .contentarea .movieticket_callout	{
	margin:15px 0 0 0;
}

#wrapper .contentarea .movieticket_callout	img{
	float:left;
}

#wrapper .contentarea .movieticket_callout	p{
	padding:13px;
	width:520px;
}

@media all and (max-width: 568px)   {
	
#stopper	{
	min-width:320px
}

#wrapper 	{
	min-width:320px;
}
 
 #wrapper header	{
	float: left;
    padding: 0 0 0 2%;
    width: 98%;
	border-bottom:1px solid #cccccc;
	background:#FFF;
	min-width:320px;
}

#wrapper .header {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 20px auto 0;
    max-width: 568px;
    padding: 0 2%;
    width: 96%;
	min-height: 550px;
	min-width:320px;
}

#wrapper	{
	min-width:300px;
}

#wrapper .header h1 {
    margin: 0 0 15px;
}

#wrapper .contentarea ul li	{
	float:left;
	padding:0 2% 20px 0;
	width:98%;
}

#wrapper .contentarea	{
	clear: both;
	max-width:1108px;
	margin:0 auto;
	min-width:200px;
	padding: 10px 3% 30px;
	border-bottom:2px solid #cccccc;
    width: 94%;
}


.form_frame {
    height: 615px;
    width: 300px;
}

#wrapper .header p {
    font-family: "HelveticaNeueRegular",Arial,"Lucida Grande",sans-serif;
    font-size: 18px;
    line-height: 26px;
    padding: 0 0 15px;
    width: 290px;
}

.overlay	{
	width:280px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:#FFF;
	padding:10px 10px;
	float:left;
	display:none;
}

.overlay	div.leftcol{
	display:none;
}

.overlay div.rightcol {
    float: left;
    line-height: 24px;
    width: 280px;
	padding:0;
}

.overlay	ul{
	clear:both;
	padding:10px 0 0 0;
}

.overlay	ul li{
	float:left;
	list-style:none;
	width:100%;
	text-align: center;
}

.overlaylogo01	{
	padding:20px 0 0;
}

.overlaylogo02	{
	padding:20px 0 0;
}

.overlaylogo03	{
	padding:20px 0 0;
}

.overlay	p	{
	padding:20px 0 0 0;
}

.well {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E5E5E5;
    border-color: #C7C7C7;
    border-image: none;
    border-radius: 0.235294em;
    border-style: solid;
    border-width: 1px 0 0;
	width:300px;
	float:left;
	margin:0 0 30px;
}
.box-secondary {
    padding: 1.05882em;
}

.box p {
    font-size: 13px !important;
}

.toggle-inner-new	p	{
	width:280px !important;
}

.short	{
	height: 130px;
	width:400px;
}

#wrapper .contentarea .movieticket_callout	{
	margin:15px 0 0 0;
}

#wrapper .contentarea .movieticket_callout	img{
	float:left;
}

#wrapper .contentarea .movieticket_callout	p {
    float: left;
    margin: 13px 0 30px;
    width: 100%;
	padding:0;
}
	
}

