body {
}
.fsBody {
  margin-bottom:0;
}

.fsBody .fsValidationError {
  background-color:transparent !important;
}
.fsBody .fsValidationError input, .fsBody .fsValidationError textarea {
  border-color:#f00 !important;
  background-color:#fcc !important;
}


.fsBody .fsForm, .fsForm .fsSpacerRow .fsRowBody {
	background-color: transparent;
}

.fsForm, .fsError {
	margin-left: auto;
	margin-right: auto;
}

.fsBody .fsForm .fsCell {
	padding:8px 0;
}

.fsBody .fsForm .fsSectionHeader {
	background-color: transparent;
}

.fsBody .fsForm .fsSectionHeading {
	color: #000000;
	font-size: 20px;
	line-height:25px;
}

.fsBody .fsForm .fsSectionText {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height:18px;
}

.fsBody .fsForm .fsLabel, .fsBody .fsForm .fsOptionLabel, .fsBody .fsForm .fsMatrix th, .fsBody .fsForm .fsMatrixLabel {
	color: #6b6b6b;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height:18px;
}

.fsBody .fsForm .fsRequiredLabel {
	color: #6b6b6b;
	padding:0 0 10px;
}

.fsBody .fsForm input[type=text].fsField,
.fsBody .fsForm input[type=file].fsField,
.fsBody .fsForm input[type=number].fsField,
.fsBody .fsForm input[type=email].fsField,
.fsBody .fsForm input[type=tel].fsField,
.fsBody .fsForm textarea.fsField,
.fsBody .fsForm select.fsField {
color: #6b6b6b;
border-color: #EEEEEE;
background-color: transparent;
}

.fsBody .fsForm input[type=text].fsField,
.fsBody .fsForm input[type=file].fsField,
.fsBody .fsForm input[type=number].fsField,
.fsBody .fsForm input[type=email].fsField,
.fsBody .fsForm input[type=tel].fsField,
.fsBody .fsForm textarea.fsField {
padding: 10px;
}

.fsBody .fsForm input[type=text].fsRequired,
.fsBody .fsForm input[type=file].fsRequired,
.fsBody .fsForm input[type=number].fsRequired,
.fsBody .fsForm input[type=email].fsRequired,
.fsBody .fsForm input[type=tel].fsRequired,
.fsBody .fsForm textarea.fsRequired,
.fsBody .fsForm select.fsRequired {
border-color: #999999;
background-color: transparent;
}

.fsBody .fsForm input[type=text].fsRequired .fsFieldFocused,
.fsBody .fsForm input[type=file].fsRequired .fsFieldFocused,
.fsBody .fsForm input[type=number].fsRequired .fsFieldFocused,
.fsBody .fsForm input[type=email].fsRequired .fsFieldFocused,
.fsBody .fsForm input[type=tel].fsRequired .fsFieldFocused,
.fsBody .fsForm textarea.fsRequired .fsFieldFocused,
.fsBody .fsForm select.fsRequired .fsFieldFocused {
border-color: #999999;
background-color:#993;
}

.fsBody .fsForm .fsSupporting {
color: #777777;
}

.fsBody .fsRowTop, .fsBody .fsRowBottom, .fsBody .fsRowOpen, .fsBody .fsRowClose { display: none; }

.fsForm.fsMaxCol2 {
    width: 400px;
}

.fsBody .fsForm {
    background-color:none;
    border: none;
    display: table;
    margin: 0;
}

input  
{ 
border-radius: 3px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
}

.fsFieldRow input[type="text"], .fsFieldRow input[type="email"], .fsFieldRow input[type="number"], .fsFieldRow input[type="tel"], .fsForm textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    background-image: none;
    background-position: left top;
    background-repeat: repeat-x;
    border-color: #999999 #999999 #999999;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #6b6b6b;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    max-width: 95%;
    padding: 4px;
}

.fsFieldFocused	{
	background-color: transparent;
	color:#3F0
}

.fsFieldFocused	.fsRequired {
	background-color: transparent;
	color:#cc0000;
}

.fsForm .fsSubmit {
    clear: left;
    margin-top: 10px;
    padding: 20px 20px 0 20px;
	background-color: transparent;
}

.fsBody .fsPage {
    max-width: 400px;
}

.fsBody .fs2Col {
    min-width: 400px;
}

.fsSpan50 {
    width: 41%;
	float:left;
}

.fsFieldCell .fsLast	{
	float:right;
	border:1px solid #0F0
}


.fsForm fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}

.fsBody select {
    max-width: 100%;
    width: 31%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border:1px solid #3F0;
	padding:10px;
	margin-right:5px;
}

.fsRequiredMarker	{
	display:none;
}

.fsSubmit input.fsSubmitButton {
    clear: both;
    margin: 0 auto;
    padding: 3px;
	background:url(../img/submit_btn.png) no-repeat;
	width:191px;
	height:72px;
	border:none;
	cursor:pointer;
}

.fsForm .fsSubmit {
    background-color: rgba(0, 0, 0, 0);
    clear: left;
    float: left;
    margin: 0;
    padding: 30px 20px 0 20px;
}

.fsSubmit input.fsSubmitButton:hover {
    clear: both;
    margin: 0 auto;
    padding: 3px;
	background:url(../img/submit_btn_on.png) no-repeat;
	width:191px;
	height:72px;
	cursor:pointer;
}

select > option {
    -moz-padding-end: 5px;
    -moz-padding-start: 3px;
    padding-bottom: 0;
    padding-top: 0;
}

.fsBody .fsFieldRow input[type="text"], .fsBody .fsFieldRow input[type="email"], .fsBody .fsFieldRow input[type="tel"], .fsBody .fsFieldRow input[type="number"], .fsBody .fsForm textarea {
    width: 92%;
}



.fsBody .fsSpan50left {
    clear: both;
    float: left;
    margin-right: 20px !important;
    width: 45% !important;
}

.fsBody .fsSpan50right {
    width: 45% !important;
}

div.fsError {
    background-color: rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    clear: both;
    color: #CC0000;
    font-size: 14px;
    margin: 1px 0 0;
    padding: 10px 0;
    position: absolute;
    text-align: left;
    top: 280px;
    z-index: 99999;
}

input:focus, select:focus {
  color:#1f1f1f !important;
  border-left:5px solid #999999 !important;
}

.terms_link	{
	margin:20px 0 20px;
	text-align:left;
	float:left;
	clear:both
}
.terms_link a:link, terms_link a:visited, .terms_link a:hover, .terms_link a:active{
	color:#ff3333;
	font-size:10px;
	text-decoration:none;
}

.fieldset-content	{
	width:400px !important
}

.dropdown{
	width:127px !important;
	float:left !important;
}

.fsValidationError .fsLabel {
    background-position: left top;
    background-repeat: no-repeat;
    color: #BA0000;
    padding-left: 20px !important;
}

@media all and (max-width: 320px)   {
	
  body	{
  }

  .fsBody .fsFieldRow input[type="text"], .fsBody .fsFieldRow input[type="email"], .fsBody .fsFieldRow input[type="tel"], .fsBody .fsFieldRow input[type="number"], .fsBody .fsForm textarea {
      width: 91%;
  }

  .fsForm.fsMaxCol2 {
      width: 280px;
  }

  .fsBody .fsForm .fsCell {
      padding: 10px 0;
      width: 296px !important;
  }

  .fsBody select {
      border: 1px solid #33FF00;
      border-radius: 3px;
      margin-right: 5px;
      max-width: 98%;
      padding: 10px;
      width: 73%;
  	margin:10px 0;
  }
  div.fsError {
    top: 450px;
    
  }
  
  .dropdown{
	width:292px !important;
	float:left !important;
}
}